In [44]:
# import libraries
import matplotlib.pyplot as plt
from torch.autograd import Variable
import torch
import numpy as np
from torch import nn
from torch import optim
import torch.nn.functional as F

In [50]:
# get data
import tushare as ts
ts.set_token('77bd3efe782187c3356cf64a04479f16758d00f63abf096f54a478d6')
pro = ts.pro_api()
# df = ts.get_hist_data('600036', start='2003-01-05', end='2020-08-17')
df = pro.query('daily', ts_code='600036.SH', start_date='20030101', end_date='20200819')
df = df.iloc[::-1]
df.rename(columns={'trade_date': 'date'}, inplace=True)
df = df.set_index('date')
# df = df.reset_index(drop=True)
df.head(10)

,ts_code,open,high,low,close,pre_close,change,pct_chg,vol,amount
date,,,,,,,,,,
20030102,600036.SH,8.12,8.16,8.04,8.06,8.14,-0.08,-0.98,111795.01,90339.884
20030103,600036.SH,8.06,8.12,8.02,8.12,8.06,0.06,0.74,37898.54,30610.396
20030106,600036.SH,8.10,8.20,8.05,8.16,8.12,0.04,0.49,43957.43,35737.079
20030107,600036.SH,8.15,8.24,8.07,8.08,8.16,-0.08,-0.98,26874.50,21852.593
20030108,600036.SH,8.08,8.55,8.05,8.42,8.08,0.34,4.21,114910.32,95917.021
20030109,600036.SH,8.45,8.87,8.32,8.74,8.42,0.32,3.80,364468.99,315687.849
20030110,600036.SH,8.77,8.86,8.61,8.61,8.74,-0.13,-1.49,257210.25,225220.395
20030113,600036.SH,8.58,8.68,8.46,8.53,8.61,-0.08,-0.93,67816.80,57982.545
20030114,600036.SH,8.53,9.38,8.53,9.38,8.53,0.85,9.96,931500.48,863691.099
20030115,600036.SH,9.50,9.65,9.00,9.20,9.38,-0.18,-1.92,689728.83,645243.069

In [41]:
df = df.loc[:, ['open', 'high', 'low', 'close', 'vol', 'amount']]
df.head(10)

            open  high   low  close        vol      amount
trade_date
20030102    8.12  8.16  8.04   8.06  111795.01   90339.884
20030103    8.06  8.12  8.02   8.12   37898.54   30610.396
20030106    8.10  8.20  8.05   8.16   43957.43   35737.079
20030107    8.15  8.24  8.07   8.08   26874.50   21852.593
20030108    8.08  8.55  8.05   8.42  114910.32   95917.021
20030109    8.45  8.87  8.32   8.74  364468.99  315687.849
20030110    8.77  8.86  8.61   8.61  257210.25  225220.395
20030113    8.58  8.68  8.46   8.53   67816.80   57982.545
20030114    8.53  9.38  8.53   9.38  931500.48  863691.099
20030115    9.50  9.65  9.00   9.20  689728.83  645243.069

In [42]:
df.to_csv("data/cmbchina3.csv", index_label="trade_date")

In [19]:
# get data from joinquant
import jqdatasdk as jd
auth('13693396150','daxian654321CL')
# is_auth
df = jd.get_price(security='600036.XSHG', frequency='daily', start_date='2003-01-05', end_date='2020-08-17')
df.to_csv("data/cmbchina.csv", index_label="date")

In [ ]:
# configuration
dataroot = 'data/cmbchina.csv'
batchsize = 128
nhidden_encoder = 128
nhidden_decoder = 128
ntimestep = 10
lr = 0.001
epochs = 50